<!DOCTYPE html>
<html>
   <head>
      <title>Add New Item - Before You Go</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
   </head>
   <body>
      {% include 'header.html' %}
      <h1>Add New Item</h1>

      <div class="search-container">

         <form id = "addItemForm" action="/create_item" 
         method="POST" class="search-form">
            <label for="title">Title:</label>
            <input type="text" id="titleInput" name="title" required>
            
            <label for="contact">Contact:</label>
            <input type="text" name="contact" id="contactInput">
            
            <label for="area">Location:</label>
            <input type="text" name="area" id="areaInput" required>
                <!-- Hidden fields for lat/lng -->
                <input type="hidden" name="lat" id="latInput">
                <input type="hidden" name="lng" id="lngInput">
            
            <label for="descrip">Description:</label>
            <input type="text" name="descrip" id="descripInput" required>
            
            <label for="category">Category:</label>
            <input type="text" name="category" id="categoryInput" required>

            <input type=hidden name="priv" id="privacyInput" value='{{priv}}' required>
            
            <input type="submit" value="Add Item">
         </form>
      </div>

      {% include 'footer.html' %}

      <script>
            let autocompleteUsed = false;

            function initAutocomplete() {
              const input = document.getElementById("locationInput");
              const autocomplete = new google.maps.places.Autocomplete(input);
            
              autocomplete.addListener("place_changed", () => {
                const place = autocomplete.getPlace();
                if (!place.geometry || !place.geometry.location) return;
            
                document.getElementById("latInput").value = place.geometry.location.lat();
                document.getElementById("lngInput").value = place.geometry.location.lng();
            
                autocompleteUsed = true;
              });
          
              // On form submit, validate that a place was selected
              document.getElementById("addItemForm").addEventListener("submit", function (e) {
                if (!autocompleteUsed) {
                  e.preventDefault(); // stop form submission
                  alert("Please select a location from the dropdown.");
                  input.focus();
                }
              });
            }
        
      </script>
      
      <script
        src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&libraries=places&callback=initAutocomplete"
        async defer>
      </script>
      
   </body>
</html> 