<body class="bg-white text-black font-serif">
    <header class="bg-white shadow sticky top-0 z-50">
      <div class="max-w-7xl mx-auto px-4 py-3 flex justify-between items-center">
        <div class="text-2xl font-bold text-orange-600">
          <a href="/home" class="flex items-center space-x-2">
            <span>🐯Before You Go</span></a>
        </div>
        <div class="flex items-center space-x-6">
          <div class="text-orange-700  text-sm font-medium">
            Logged in as {{net_id}}
          </div>
        </div>
        <nav class="space-x-6 text-sm font-medium">
          <a href="/global" class="text-gray-700 hover:text-orange-500">Browse</a>
          <a href="/my_bucket" class="text-gray-700 hover:text-orange-500">My List</a>
          {% if is_admin %}
          <a href="/admin" class="text-gray-700 hover:text-orange-500">
            <i class="fas fa-shield-alt"></i> Admin
            {% if pending_count > 0 %}
              <span class="badge bg-warning text-dark" style="position: relative; top: -8px; right: -5px; border-radius: 50%;">
                {{ pending_count }}
              </span>
            {% endif %}
          </a>
          {% endif %}
          <a href="{{ url_for('logout_app') }}" class="text-orange-500 border border-orange-500 rounded-full px-4 py-1 hover:bg-orange-500 hover:text-white">Log Out</a>
        </nav>
      </div>
    </header>
  </body>
